
<header class='header'>
    <h1 class="header-heading">
        <a href="http://127.0.0.1:8000/" class="header-link">
        Agenda
    </a>
    </h1>

    <nav class="menu">
        <ul class="menu-list">
            <li class="menu-item">
                <a href="" class="menu-link">
                    link1
                </a>
            </li>
            <li class="menu-item">
                <a href="" class="menu-link">
                    link2
                </a>
            </li>
        </ul>
    </nav>

    <div class="search">
        <form action="{% url "contato:search" %}" method="GET">
            <input type="text" 
            class="search-input" 
            placeholder="Search" 
            id="Search" 
            name="q"
            value="{{ request.GET.q.strip }}"
            >
        </form>
    </div>
</header>